api.brozapi.com {
    handle_path /accessicheck/* {
        reverse_proxy 127.0.0.1:8081
    }

    reverse_proxy 127.0.0.1:8080

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
        X-XSS-Protection "1; mode=block"
    }
}
